<div class="voting-container">
  <h1>Voting App</h1>
  <div class="reset-container">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="reset('voters')"
    >
      reset voters
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="reset('candidates')"
    >
      reset candidates
    </button>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="data-container col-sm-12 col-lg-5">
        <div class="add-data-container">
          <h2>Voters</h2>
          <button class="add-button" (click)="addVoterDialog()">
            <span>+</span>
          </button>
        </div>
        <div class="user-table">
          <table
            #votersTable
            mat-table
            matSort
            matSortActive="name"
            [dataSource]="voters"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="hasVoted">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Has voted
              </th>
              <td
                mat-cell
                *matCellDef="let element"
                class="voted-area"
                [ngClass]="element.hasVoted ? 'voted' : 'notVoted'"
              >
                {{ element.hasVoted ? "v" : "x" }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsForVoters"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsForVoters"></tr>
          </table>

          <p *ngIf="!votersList.length">No voters</p>
        </div>
      </div>

      <div class="data-container col-sm-12 col-lg-5">
        <div class="add-data-container">
          <h2>Candidates</h2>
          <button class="add-button" (click)="addCandidateDialog()">
            <span>+</span>
          </button>
        </div>
        <div class="user-table">
          <table
            #candidatesTable
            mat-table
            matSort
            matSortActive="name"
            [dataSource]="candidates"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="votes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Votes</th>
              <td mat-cell *matCellDef="let element">{{ element.votes }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsForCandates"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsForCandates"></tr>
          </table>
          <p *ngIf="!candidatesList.length">No condidates</p>
        </div>
      </div>
    </div>
  </div>

  <div class="voting-zone-container">
    <h2>VOTE!</h2>
    <p *ngIf="!votersCanVoteList.length && candidatesList.length">
      There are no people who can vote
    </p>
    <p *ngIf="!candidatesList.length">There are no candidates</p>
    <form
      #votingForm="ngForm"
      (ngSubmit)="vote(votingForm)"
      *ngIf="votersCanVoteList.length && candidatesList.length"
    >
      <mat-form-field appearance="fill">
        <mat-label>I am</mat-label>
        <mat-select name="voterSelected" ngModel required>
          <mat-option
            *ngFor="let voter of votersCanVoteList"
            [value]="voter.name"
          >
            {{ voter.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>I vote for</mat-label>
        <mat-select name="candidateSelected" ngModel required>
          <mat-option
            *ngFor="let candidate of candidatesList"
            [value]="candidate.name"
          >
            {{ candidate.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="votingForm.invalid"
        color="primary"
        type="submit"
      >
        vote
      </button>
    </form>
  </div>
</div>
